.body{
    
   
    /* background:linear-gradient(rgb(91,87,115),black); */
    background:linear-gradient(rgb(37, 49, 41),black);
    height: 90vh;
    width:100vw;
    overflow:auto;
    color: white;
}
.body_title{
    color:grey;
    font-size: 5vw;
    margin:10px;
}