.sidebar {
    
    height: 100vh;
    flex:0.2;
    background-color: black;
    min-width: 200px;
    color: white;
    padding-left:10px;
    padding-right:10px;

}
.sidebar_mobile{
    height: 100vh;
    flex:0;
    background:linear-gradient(rgb(37, 49, 41,.95),black);
    width: 10vw;
    color: white;
    padding-left:10px;
    padding-right:10px;
}
.sidebar_logo{
    object-fit: contain;
    height: 70px;
    padding:5px;
    margin-right:auto;
}
.mobile_logo
{
    object-fit: contain;
    max-height: 10vw;
    margin-right:10px;
    padding:10px;
    padding-left:0px;
   
   
   
}
