h4{
 font-size:20px;
}
.sidebarOption{
    color: grey;
    height:40px;
    cursor: pointer;
    transition: 150ms color ease-in;
    display: flex;
    align-items: center;
    font-size: 20px;

}
.sidebarOption:hover{
color:white;
}
.sidebarOption__icon{
    padding-left: 0px;
    margin-right: 10px;
    width: 70px;
}
.sidebarOption__icon_mobile{
    padding-left: 0px;
    padding-right: 0px;
    width: 70px;
}